.icon-32-config
{ 
	background-image: url(/components/com_cbadvsearch/images/config.png); 
}
.icon-32-translation
{ 
	background-image: url(/components/com_cbadvsearch/images/translator.jpg); 
}
.icon-32-manager
{ 
	background-image: url(/components/com_cbadvsearch/images/manager.png); 
}
